<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Failure</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
       </head>
  <body>
    <div class="jumbotron jumbotron-fluid">
      <div class="cotainer">
        <h1 class="display-4">  uh ho!</h1>
        <p class="lead">  There was a problem submitting your form. Please try again or contact us through our hotline +9999!</p>

        <form  action="/failure" method="post">
          <button class="btn btn-lg btn-warning" type="submit" name="button">  Try Again</button>

        </form>

      </div>

    </div>
  </body>
</html>
